.AdsDropdown {
  width: 100%;
  box-sizing: border-box;
}

.AdsDropdown__button {
  width: 100%;
  position: relative;
  padding: 10px 15px;
  border: 1px solid #498bff;
  border-radius: 4px;
  background: #ffffff;
  color: #2f3747;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.AdsDropdown__button--selected {
  background: #b0bdd633;
}

.AdsDropdown__button--status {
  background: #498bff;
  color: #ffffff;
}

.AdsDropdown__button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  width: 13px;
  background: no-repeat center url('./img/arrow.svg');
  transition: transform 0.2s ease-in-out;
}

.AdsDropdown__button--selected::after {
  transform: rotateX(180deg);
}

.AdsDropdown__button:hover {
  background: #b0bdd633;
}

.AdsDropdown__button:focus {
  outline: 1px solid #001d9e;
}


.AdsDropdown__button--status:hover {
  background: #498bff;
}

.AdsDropdown__list {
  margin: 5px;
  padding: 10px 0;
  border: 1px solid rgba(0, 26, 128, 0.1);
  box-shadow: 3px 4px 8px 0px rgba(34, 60, 80, 0.2);  
  list-style: none;
  font-size: 16px;
}

.AdsDropdown__list-item {
  padding: 5px 20px;
  cursor: pointer;
}

.AdsDropdown__list-item:hover {
  background: #ffeba0;
}