.AdsForm {
  flex-shrink: 0;
  width: 615px;
  background-color: #ffffff;
  border-top: 2px solid #1a2b4d99;
  padding-top: 10px;
  margin-right: 5px;
}

.AdsForm__header {
  font-size: 24px;
  letter-spacing: 0.06px;
  padding-bottom: 5px;
}

.AdsForm__description {
  margin: 0px 0px 18px;
  color: #1a2b4d99;
  font-size: 14px;
}

.AdsForm__description-warn {
  color: red;
  animation: warnblink 1s ease-in-out;
}

@keyframes warnblink {
  from, to, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.AdsForm__label {
  display: block;
}

.AdsForm__subdescription {
  color: rgba(26, 43, 77, 0.6);
  font-size: 12px;
}

.AdsForm__required {
  color: red;
  font-size: 15px;
  vertical-align: top;
}

.AdsForm__line {
  display: flex;
  position: relative;
  align-items: baseline;
  margin-bottom: 25px;
}

.AdsForm__sitelinks-headers {
  margin-bottom: 0;
}

.AdsForm__sitelinks-header {
  width: calc(100%/3);
  margin-left: 10px;
}

.AdsForm__sitelinks-header:first-child, .AdsForm__sitelinks-wrap:first-child {
  margin-left: 0px;
}

.AdsForm__sitelinks-wrap {
  position: relative;
  width: calc(100%/3);
  margin-left: 10px;
}

.AdsForm__input {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 95%;
  height: 45px;
  border: 1px solid rgba(134, 148, 176, 0.6);
  border-radius: 5px;
  padding: 4px 10px;
  margin: 5px 10px 0px 0px;
  font-size: 14px;
}

.AdsForm__input:focus {
  outline: none;
  border: 2px solid rgb(0, 29, 158);
  padding: 3px 9px;
}

.AdsForm__input-warn {
  background-color: #ffd6d6;
}

.AdsForm__input-sitelinks {
  width: 100%;
  padding-right: 32px;
}

.AdsForm__input-sitelinks:first-child {
  margin-left: 0px;
}

.AdsForm__input-sitelinks:focus {
  padding-right: 31px;
}

.AdsForm__info {
  color: rgba(26, 43, 77, 0.6);
}

.AdsForm__info-warn {
  color: red;
}

.AdsForm__input-error {
  position: absolute;
  box-sizing: border-box;
  width: 95%;
  height: 25px;
  bottom: -21px;
  border: 1px solid red;
  border-top: 0;
  padding: 6px 10px;
  color: red;
  font-size: 12px;
  animation: error 0.1s ease-in-out;
  transform-origin: center top;
}

.AdsForm__sitelinks__input-error {
  width: 100%;
  height: 23px;
  bottom: -19px;
}

@keyframes error {
  from {
    opacity: 0;
    transform: scaleY(10%);
  }

  to {
    opacity: 1;
    transform: scaleY(100%);
  }
}

.AdsForm__info-sitelinks {
  position: absolute;
  right: 6px;
  top: calc(50% - 5px);
  font-size: 13px;
}

.AdsForm__extsitelinks-show {
  color: rgb(73, 139, 255);
  border-bottom: 1px dashed rgb(73, 139, 255);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.AdsForm__extsitelinks-show:hover {
  color: rgb(242, 13, 13);
  border-color: rgb(242, 13, 13);
}

@media (max-width: 1225px) {
  .AdsForm {
    flex-shrink: 1;
    margin-right: 0;
  }
}