body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

h1 {
  font-size: 22px;
  margin: 0px;
  line-height: 25px;
  color: rgb(47, 55, 71);
}

footer.cr a {
  position: fixed;
  bottom: 0.5vmin;
  right: 0.5vmin;
  font-size: 1.5vh;
  font-weight: 600;
  color: #778195;
  text-decoration: none;
}

footer.cr:hover a::first-letter {
  color: red;
}

