@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eff2f7;
}

button, input {
  font-family: inherit;
}

footer.cr a {
  position: fixed;
  bottom: 0.5vmin;
  right: 0.5vmin;
  font-size: 1.5vh;
  font-weight: 600;
  color: #778195;
  text-decoration: none;
}

footer.cr:hover a::first-letter {
  color: red;
}